
body {
    box-sizing: border-box;
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    margin: 0;
    padding: 0;
}

/* Header section */

.header {
    background:url("../images/your_verse_hero.jpg")  50% 100% no-repeat;
    height: 70vh;
    width: 80%;
    margin: auto;
  
}

.nav-menu {
    padding-top: 80px;
    
}

.menu {
    display: flex;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: #707070;
    z-index: 99999;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    background: url('../images/download.png') no-repeat 50% 50%;
}

.menu-item {
    flex-grow: 1;
    background: none;
}

.menu-item {
   background: url('http://images.apple.com/global/nav/images/globalnav_text.png') no-repeat 50% 0;
}

.search:active {
    flex-grow: 2;
}

.menu-item {
    background: #efefee;
    list-style: none;
    padding: 10px 20px;
    border-right: 1px solid black;
    flex: 1;
}

.menu-item i {
    color: silver;
}

h2, h1 {
    font-weight: bold;
    color: white;
}

.title {
    width: 530px;    
    margin-bottom: -85px;
    margin: auto;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
}

.sub-title {
    font-size: 16px;
    margin-bottom: 27px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/* Promo section  */

.promotion-article {
    margin: auto;
    padding: 2px 80px;
}

.promotion {
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    margin-top: 2px;
    margin: auto;
}

.promo {
    flex: 1;
    max-width: 364px;
    height: 200px; 
}

.promo1 {
    background: url("../images/promo_iphone5s.jpg") 0 0 no-repeat;
}

.promo2 {
    background: url("../images/promo_iphone5c.jpg") 0 0 no-repeat;
}

.promo3 {
    background: url("../images/promo_30_years.jpg") 0 0 no-repeat;
}
.promo4 {
    background: url("../images/promo_supplier_responsibility.jpg") 0 0 no-repeat;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    max-width: 60%;
    margin: auto;
    color: #6e6e6e;
    font-size: .8334em;
    line-height: 1.2;
}

.ft-2 {
    display: flex;
    justify-content: flex-end;
}

.ft-link {
    padding: 0 4px;
    border-right: 1px solid #6e6e6e;
}

.ft-li8 {
    border: none;
}

footer {
    padding: 1.5em;
}

a {
    text-decoration: none;
    color: rgb(0, 136, 204);
}
a:hover {
    text-decoration: underline;
}


